@use 'base/variables' as v;
@use 'base/mixins' as m;

.mensaje {
    margin-top: 5rem;
    .logo{
        background: linear-gradient(to right, v.$azul 0%, lighten(v.$azul, 30%) 100%);
        color: transparent;
        background-clip:text ;
        text-align: center;
        font-size: 7rem;

        @include m.tablet{ 
            font-size: 10rem;
        }
    }
    
}